<h1>Articles MDD</h1>

<a routerLink="/profile">Profil</a>
<br />
<a routerLink="/articles/new">Créer un article</a>
<br />
<a routerLink="/themes">Thèmes</a>
<br />
@if (errorMessage) {
  <p>{{ errorMessage }}</p>
} @else {
  <button (click)="toggleOrder()">
    Inverser le tri (actuel : {{ order }})
  </button>
  <ul>
    @for (article of articles; track article.id) {
      <li>
        <a [routerLink]="['/articles', article.id]">
          <strong>{{ article.title }}</strong>
        </a>
        <p>{{ article.content }}</p>
        <p>
          Auteur : {{ article.author.username }} — Thème :
          {{ article.theme.title }}
        </p>
        <p>Publié le : {{ article.createdAt }}</p>
      </li>
    }
  </ul>
}
